@namespace Grubs.UI

@using Grubs.Equipment
@using Grubs.Player
@using Sandbox;
@using Sandbox.UI;

@inherits PanelComponent

@if (Current is null || Next is null)
    return;

<root>
    <div class="item-container">
        <div class="item-title primary @EnabledClasses()">@Current.Name</div>
        <div class="item-box primary @EnabledClasses()">
            <img class="item-image primary @EnabledClasses()" src="@Current.Icon"/>
            <InputGlyph button="toggle_equipment" size="small"/>
        </div>
    </div>
    <div class="item-container flex-end">
        <div class="item-box secondary @EnabledClasses()">
            <img class="item-image secondary @EnabledClasses()" src="@Next.Icon"/>
            <InputGlyph class="secondary" button="next_equipment" size="small"/>
        </div>
    </div>
</root>

@code
{
    [Property] public required PlayerInventory Inventory { get; set; }
    private EquipmentComponent? Current => Inventory.Equipment.ElementAtOrDefault(Inventory.ActiveSlot);
    private EquipmentComponent? Next => Inventory.Equipment.ElementAtOrDefault(Inventory.GetNextSlot());


    private string EnabledClasses()
    {
        return Inventory.EquipmentActive ? "" : "disabled";
    }

    protected override void OnUpdate()
    {
        foreach (var child in Panel.Children)
            child.SetClass("disabled", !Inventory.EquipmentActive);
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Inventory.EquipmentActive, Inventory.ActiveSlot);
    }
}