@namespace Grubs.UI
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

@if (Game.LocalPawn is not Player player)
{
    return;
}

<root>
    <div class="container">
        <div class="section">
            <label class="title">Colors</label>
            <div style="flex-wrap: wrap;">
                @foreach (var pair in GrubsGame.Instance.PlayerColors)
                {
                    var color = pair.Key;
                    var isTaken = pair.Value && player.Color != color;

                    <button
                    class="color @(player.Color == color ? "selected" : "") @(isTaken ? "disabled" : "") "
                    style="background-color: @color.Hex;" 
                    @onclick=@(() => 
                    { 
                        if(!isTaken)
                            Player.SelectColor(color.RawInt); 
                    })/>
                }
            </div>
        </div>
        <div class="section">
            <label class="title">Names</label>
            <div style="flex-wrap: wrap;">
                @for (int i = 0; i < player.SelectedGrubNames.Count; ++i)
                {
                    var index = i;
                    <div style="width: 50%; flex-direction: column; font-size: 30px; margin-bottom: 5px;">
                        <label>@($"Grub #{i + 1}")</label>
                        <TextEntry 
                        text=@player.SelectedGrubNames[i] 
                        MaxLength=@(10) 
                        CharacterRegex="^[a-zA-Z0-9 ]+$"
                        OnTextEdited=@((string text) => { player.SelectedGrubNames[index] = text; player.SerializeGrubNames(); })/>
                    </div>
                }
            </div>
        </div>
        <div class="section">
            <label class="title">Clothing</label>
            <div style="flex-wrap: wrap;">
                @for (int i = 0; i < Player.CosmeticPresets.Count; ++i)
                {
                    var index = i;
                    var isSelected = player.SelectedCosmeticIndex == i;
                    <button class="cosmetic @(isSelected ? "selected" : "")" @onclick=@(() => { player.SelectedCosmeticIndex = isSelected ? -1 : index; })>
                    <img src=@Player.CosmeticPresets[i].MenuIcon />
                    </button>
                }
            </div>
        </div>
    </div>
</root>

@code {
    protected override int BuildHash()
    {
        var player = Game.LocalPawn as Player;
        return HashCode.Combine(
            player?.Color.GetHashCode(), 
            player?.SelectedCosmeticIndex,
            player?.SelectedGrubNames?.HashCombine(n => n.GetHashCode()), 
            GrubsGame.Instance?.PlayerColors?.HashCombine(p => HashCode.Combine(p.Value))
        );
    }
}