@using Sandbox.UI;
@using Grubs;
@namespace Grubs.UI
@inherits Panel
@attribute [StyleSheet]

<root>
    <div style="align-items: center;">
        <div class="color-strip" style="background-color: @Player.Color.Hex"></div>
        <img src="avatar:@Player.Client.SteamId" class="avatar" />
        <label class="name">@Player.Client.Name</label>
        <div class="host-badge icon @(!Player.Client.IsListenServerHost ? "hidden" : "")">stars</div>
    </div>

    @if (!Player.Client.IsBot)
    {
        <section class="stats">
            <label style="padding-right: 5px;">@_currentStat</label>
            <div class="icon">@_currentStat.Icon</div>
        </section>
    }
</root>

@code {
    public Player Player { get; set; }

    private static TimeUntil _timeUntilNextStat;
    private readonly StatInfo[] _stats =
    {
        new(null, "hrs", "timer", "0.0"),
        new("ffa-games-won", "wins", "emoji_events"),
        new("grubs-killed", "kills", "person_off")
    };
    private StatInfo _currentStat => _stats[_statIndex];
    private int _statIndex;

    public override void Tick()
    {
        if (!_timeUntilNextStat)
            return;

        _statIndex = _statIndex == _stats.Length - 1 ? 0 : _statIndex + 1;
        _timeUntilNextStat = 7f;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(_statIndex, Player.PlayTime);
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime)
            return;

        foreach (var stat in _stats)
            stat.Populate(Player);
    }

    private class StatInfo
    {
        public readonly string Icon;

        private readonly string _ident;
        private readonly string _suffix;
        private readonly string _format;
        private double _val;

        private Player _player;
        private static Sandbox.Services.Stats.PlayerStats _statCache;

        public StatInfo(string ident, string suffix, string icon, string format = "0")
        {
            Icon = icon;
            _ident = ident;
            _suffix = suffix;
            _format = format;
        }

        public void Populate(Player player)
        {
            _player = player;
            _statCache ??= player.Client.GetPlayerStats();
            _val = _statCache.FirstOrDefault(s => s.Name == _ident).Value;
        }

        public override string ToString()
        {
            // Continuously fetch PlayTime (it changes, and isn't even networked by the time we call Populate()).
            if(_ident == null && _player.IsValid())
                _val = _player.PlayTime;

            return $"{_val.ToString(_format)} {_suffix}";
        }
    }
}
