@inherits Panel

@using Grubs

@attribute [StyleSheet]

<root>
    <div class="rules-container">
        <div class="rules-title">GAME RULES</div>
        <div class="scrollable">
            <ControlInput class="control-wrap" Label="Grub Count: @(GrubsConfig.GrubCount)">
                <Control>
                    <SliderControl Min=@(1) Max=@(10) Value:bind=@GrubsConfig.GrubCount style="cursor: none"/>
                </Control>
            </ControlInput>
            <ControlInput class="control-wrap" Label="Turn Duration: @(GrubsConfig.TurnDuration)s">
                <Control>
                    <SliderControl Min=@(10) Max=@(120) Value:bind=@GrubsConfig.TurnDuration/>
                </Control>
            </ControlInput>
            <ControlInput class="control-wrap" Label="Weapon Crate Spawn Chance: @($"{GrubsConfig.WeaponCrateChancePerTurn * 100:F0}")%">
                <Control>
                    <SliderControl Min=@(0) Max=@(1) Step=@(0.01f) Value:bind=@GrubsConfig.WeaponCrateChancePerTurn/>
                </Control>
            </ControlInput>
            <ControlInput class="control-wrap" Label="Tool Crate Spawn Chance: @($"{GrubsConfig.ToolCrateChancePerTurn * 100:F0}")%">
                <Control>
                    <SliderControl Min=@(0) Max=@(1) Step=@(0.01f) Value:bind=@GrubsConfig.ToolCrateChancePerTurn/>
                </Control>
            </ControlInput>
            <ControlInput class="control-wrap" Label="Health Crate Spawn Chance: @($"{GrubsConfig.HealthCrateChancePerTurn * 100:F0}")%">
                <Control>
                    <SliderControl Min=@(0) Max=@(1) Step=@(0.01f) Value:bind=@GrubsConfig.HealthCrateChancePerTurn/>
                </Control>
            </ControlInput>
        </div>
    </div>
</root>

@code
{
    protected override int BuildHash()
    {
        var crateOdds = GrubsConfig.WeaponCrateChancePerTurn + GrubsConfig.HealthCrateChancePerTurn;
        return HashCode.Combine(GrubsConfig.GrubCount, GrubsConfig.TurnDuration, crateOdds);
    }
}