@namespace Grubs.UI

<root class="@(!Player.IsAvailableForTurn ? "inactive" : "")">
    <img src="avatar:@Player.SteamId" class="avatar" />
    <div style="flex-direction: column; margin-left: 5px;">
        <label text=@Player.SteamName class="name" style="font-color: @Player.Color.Hex;" />
        <div class="health">
            <div
            class="fill"
            style="background: linear-gradient(to top, @Player.Color.Hex, @Player.Color.Lighten(-0.3f).Hex); width: @(GetHealthPercentage())%;" />
        </div>
    </div>
    @if (Player.IsDisconnected)
    {
        <label class="disconnect-icon">link_off</label>
    }
    <label class="voice-icon" style="opacity: @(_isTalking ? 1 : 0)">record_voice_over</label>
</root>

@code {
    public Player Player { get; set; }

    private RealTimeSince _timeSincePlayed;
    private readonly float _voiceTimeout = 0.1f;
    private bool _isTalking = false;

    public void OnVoicePlayed()
    {
        _timeSincePlayed = 0;
    }

    public override void Tick()
    {
        var timeoutInv = 1 - (_timeSincePlayed / _voiceTimeout);
        timeoutInv = MathF.Min(timeoutInv * 2.0f, 1.0f);
        _isTalking = timeoutInv > 0;
    }

    private int GetHealthPercentage()
    {
        return Player.GetTotalGrubHealth() / GrubsConfig.GrubCount;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(GetHealthPercentage(), Player.IsAvailableForTurn, Player.IsDisconnected, _isTalking);
    }
}

<style>
    PlayerInfo {
        flex-shrink: 0;
        padding-top: 10px;
        transition: all 300ms ease-in;
        width: 310px;

        .avatar {
            width: 65px;
            height: 65px;
            border-radius: 4px;
            flex-shrink: 0;
        }

        .name {
            font-family: Londrina Solid;
            font-size: 30px;
            text-shadow: 2px 2px 0px black;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .health {
            width: 250px;
            height: 20px;
            border-radius: 4px;
            background-color: rgba(235, 235, 235, 0.24);

            .fill {
                transition: all 750ms ease-in-out;
                height: 100%;
                width: 100%;
                border-radius: 4px;
            }
        }

        .voice-icon {
            position: absolute;
            left: -35px;
            transition: opacity 100ms ease-out;

            font-family: MaterialIcons;
            font-size: 30px;
            color: rgb(252, 215, 52);
            text-shadow: 2px 2px 0px black;

            animation-duration: 1s;
            animation-name: wiggle;
            animation-iteration-count: infinite;
        }

        .disconnect-icon {
            position: absolute;
            left: -13px;
            top: -3px;

            font-family: MaterialIcons;
            font-size: 30px;
            color: red;
            text-shadow: 2px 2px 0px black;
        }

        &.inactive {
            opacity: 0.5;
            transform: translateX(-3%);
        }
    }

    @@keyframes wiggle {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(-3deg);
        }

        50% {
            transform: rotate(3deg);
        }

        75% {
            transform: rotate(-2deg);
        }

        100% {
            transform: rotate(1deg);
        }
    }
</style>
