@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Menu;
@namespace Grubs.UI
@inherits RootPanel
@implements ILoadingScreenPanel;
@attribute [StyleSheet]

<root>
    <section class="loading-info">
        <div class="header">@(_progress.Title)</div>

        <section class="progress @(_progress.Fraction == 0 ? "hidden" : "")">
            <div class="bar" style="width: @(_progress.Percent)%;"></div>
            <div class="text-left">@(_progress.Percent.ToString("0"))%</div>
            <div class="text-right"><span>@(_progress.Mbps.ToString("0"))</span><span class="unit">Mbps</span></div>
        </section>
    </section>

    <section class="controls">
        <button onclick="@Game.Menu.CancelLoading">Cancel</button>
    </section>
</root>

@code {
    LoadingProgress _progress;

    public void OnLoadingProgress( LoadingProgress progress )
    {
        _progress = progress;
        StateHasChanged();
    }
}