@using Grubs.Bots

@namespace Grubs.UI
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

<root>
    <div style="flex-direction: column; flex-shrink: 0;">
        <label>Gameplay</label>

        <button
                @onclick=@(() => AddBot())
                class="options-sidebar-entry true"
                icon="smart_toy"
                text="Add Bot" />
        <button @onclick=@(() => RemoveBot())
                class="options-sidebar-entry true"
                icon="delete_forever"
                text="Remove Bot" />

        <Slider 
            Label="Grub Count"
            Min=@(1)
            Max=@(10)
            Value:bind="@GrubsConfig.GrubCount" 
            OnValueChanged=@((float count) => SetGrubCount(count)) />
        <Slider 
            Label="Turn Duration"
            Min=@(1)
            Max=@(60)
            Value:bind="@GrubsConfig.TurnDuration" 
            OnValueChanged=@((float duration) => GrubsGame.SetConfigOption("turn_duration", duration.ToString())) />
        <Slider 
            Label="Movement Grace Period"
            Max=@(10)
            Value:bind="@GrubsConfig.MovementGracePeriod" 
            OnValueChanged=@((float grace) => GrubsGame.SetConfigOption("movement_grace", grace.ToString())) />

        <div style="height: 20px;" />

        <Switch
            Label="Sudden Death"
            Value:bind="@GrubsConfig.SuddenDeathEnabled"
            OnValueChanged=@((bool enabled) => GrubsGame.SetConfigOption("gr_sd_enabled", enabled.ToString()))  />
        @if (GrubsConfig.SuddenDeathEnabled)
        {
            <Switch
                Label="Sudden Death 1 Health"
                Value:bind="@GrubsConfig.SuddenDeathOneHealth"
                OnValueChanged=@((bool enabled) => GrubsGame.SetConfigOption("gr_sd_onehealth", enabled.ToString()))  />
            <Slider 
                Label="Sudden Death Round Delay"
                Min=@(1)
                Max=@(15)
                Value:bind="@GrubsConfig.SuddenDeathDelay" 
                OnValueChanged=@((float count) => GrubsGame.SetConfigOption("gr_sd_delay", count.ToString())) />
            <SingleSelect
                style="z-index: 100"
                SelectLabel="Sudden Death Strength"
                Options="@_aggressionOptions"
                SelectedIndex="@(_aggressionOptions.IndexOf(GrubsConfig.SuddenDeathAggression.ToString()))"
                OnOptionSelected="@((string key, string value) => GrubsGame.SetConfigOption("gr_sd_aggression", value, false))" />
        }

        <div style="height: 20px;" />
        
        <Switch
            Label="Wind"
            Value:bind="@GrubsConfig.WindEnabled"
            OnValueChanged=@((bool enabled) => GrubsGame.SetConfigOption("wind_enabled", enabled.ToString()))  />
        @if (GrubsConfig.WindEnabled)
        {
            <Slider 
                Label="Wind Force"
                Step=@(0.1f)
                Max=@(1)
                Value:bind="@GrubsConfig.WindForce" 
                OnValueChanged=@((float force) => GrubsGame.SetConfigOption("wind_force", force.ToString())) />
            <Slider 
                Label="Wind Steps"
                Max=@(5)
                Value:bind="@GrubsConfig.WindSteps" 
                OnValueChanged=@((float steps) => GrubsGame.SetConfigOption("wind_steps", steps.ToString())) />
        }
    </div>
</root>

@code {
    private List<string> _aggressionOptions = Enum.GetNames<GrubsConfig.SuddenDeathAggressionAmount>().ToList();

    private void AddBot()
    {
        GrubsBot.CreateGrubsBot(1);
    }

    private void RemoveBot()
    {
        GrubsBot.RemoveGrubsBot();
    }

    private void SetGrubCount(float count)
    {
        // Workaround for updating Grub name UI for host.
        // Change callbacks don't appear to get called for the calling client (in this case, the host)
        // from code-executed config changes (ConsoleSystem.SetValue()).
        if (Game.LocalPawn is Player player)
            player.PopulateGrubNames();

        GrubsGame.SetConfigOption("grub_count", count.ToString());
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(GrubsConfig.WindEnabled, GrubsConfig.SuddenDeathEnabled);
    }
}