@namespace Grubs.UI
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

<root>
    <div class="options">
        <label>Terrain</label>
        <SingleSelect 
            style="z-index: 100;"
            SelectedIndex=@((int)GrubsConfig.WorldTerrainEnvironmentType)
            Options=@EnvironmentOptions 
            SelectLabel="Environment Type" 
            Key="terrain_environment_type"
            IsDisabled=@(!Game.LocalClient.IsListenServerHost)
            OnOptionSelected=@SetTerrainOption />
        <SingleSelect
            style="z-index: 99;"
            SelectedIndex=@((int)GrubsConfig.WorldTerrainType)
            Options=@TerrainTypeOptions
            SelectLabel="Terrain Type"
            Key="terrain_type"
            IsDisabled=@(!Game.LocalClient.IsListenServerHost)
            OnOptionSelected=@SetTerrainOption />
        
        @if(GrubsConfig.WorldTerrainType == GrubsConfig.TerrainType.Texture) {
            <SingleSelect
                style="z-index: 98;"
                SelectedIndex=@((int)GrubsConfig.WorldTerrainTexture)
                Options=@TerrainTextureOptions
                SelectLabel="Terrain Texture"
                Key="terrain_texture"
                IsDisabled=@(GrubsConfig.WorldTerrainType == GrubsConfig.TerrainType.Generated || !Game.LocalClient.IsListenServerHost)
                OnOptionSelected=@SetTerrainOption />
        } else
        {
            <Slider
                Label="Terrain Length"
                Min=@(512)
                Max=@(4096)
                Value:bind="@GrubsConfig.TerrainLength"
                OnValueChanged=@((float length) => GrubsGame.SetConfigOption("terrain_length", length.ToString())) />
            <Slider
                Label="Terrain Height"
                Min=@(256)
                Max=@(2048)
                Value:bind="@GrubsConfig.TerrainHeight"
                OnValueChanged=@((float height) => GrubsGame.SetConfigOption("terrain_height", height.ToString())) />
            <Slider
                Label="Terrain Noise Zoom"
                Min=@(1)
                Max=@(5)
                Step=@(0.1f)
                Value:bind="@GrubsConfig.TerrainNoiseZoom"
                OnValueChanged=@((float zoom) => GrubsGame.SetConfigOption("terrain_noise_zoom", zoom.ToString())) />
            <Slider
                Label="Terrain Heightmap Amplitude"
                Min=@(16)
                Max=@(128)
                Value:bind="@GrubsConfig.TerrainAmplitude"
                OnValueChanged=@((float amp) => GrubsGame.SetConfigOption("terrain_amplitude", amp.ToString())) />
            <Slider
                Label="Terrain Heightmap Frequency"
                Min=@(0.1f)
                Max=@(10)
                Step=@(0.1f)
                Value:bind="@GrubsConfig.TerrainFrequency"
                OnValueChanged=@((float freq) => GrubsGame.SetConfigOption("terrain_frequency", freq.ToString())) />
        }
    </div>

    @if(Game.LocalClient.IsListenServerHost && GrubsConfig.WorldTerrainType == GrubsConfig.TerrainType.Generated) {
        <button class="apply-button" onclick=@Terrain.RegenWorldServer>Apply</button>
    }
</root>

@code {
    private void SetTerrainOption( string key, string value )
    {
        GrubsGame.SetConfigOption(key, value, true);
    }

    private List<string> EnvironmentOptions = Enum.GetNames<GrubsConfig.TerrainEnvironmentType>().ToList();
    private List<string> TerrainTypeOptions = Enum.GetNames<GrubsConfig.TerrainType>().ToList();
    private List<string> TerrainTextureOptions = Enum.GetNames<GrubsConfig.TerrainTexture>().ToList();

    protected override int BuildHash()
    {
        return HashCode.Combine(GrubsConfig.WorldTerrainType);
    }
}