@namespace Grubs.UI

<root class="@(GamemodeSystem.Instance.CurrentState != Gamemode.State.MainMenu ? "hide" : "")">
    <div class="header">
        <div>
            <image src="textures/ui/grub.png" />
            <label style="font-size: 72px;">GRUBS</label>
        </div>
        <div class="buttons">
            <button @onclick=@(() => SetActiveTab(Tab.PlayMenu)) icon="play_arrow" class="@IsSelected(Tab.PlayMenu)">Play</button>
            <button @onclick=@(() => SetActiveTab(Tab.CustomizeMenu)) icon="emoji_people" class="@IsSelected(Tab.CustomizeMenu)">Customize</button>
            <button @onclick=@(() => SetActiveTab(Tab.OptionsMenu)) icon="settings" class="@IsSelected(Tab.OptionsMenu)">Options</button>
        </div>
    </div>
    @if (CurrentTab == Tab.PlayMenu)
    {
        <PlayMenu />
    }
    else if (CurrentTab == Tab.CustomizeMenu)
    {
        <CustomizeMenu />
    }
    else if (CurrentTab == Tab.OptionsMenu)
    {
        <OptionsMenu /> 
    }
    <div class="right-aligned">
        <div class="terrain-preview">
            <TerrainPreview />
        </div>
        <TextChat class="@(GamemodeSystem.Instance.CurrentState != Gamemode.State.MainMenu ? "hide" : "")" />
    </div>
    <WorldScene />
</root>

@code {
    private enum Tab
    {
        PlayMenu,
        CustomizeMenu,
        OptionsMenu
    }

    private Tab CurrentTab = Tab.PlayMenu;

    private void SetActiveTab(Tab tab)
    {
        CurrentTab = tab;
    }

    private string IsSelected(Tab tab)
    {
        return CurrentTab == tab ? "selected" : "";
    }

    public override void Tick()
    {
        Cursor.Enabled("MainMenu", !HasClass("hide"));
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(CurrentTab, GamemodeSystem.Instance?.CurrentState.GetHashCode());
    }
}

<style>
    MainMenu {
        height: 100%;
        width: 100%;
        flex-direction: column;
        transition: all 225ms ease-out;
        pointer-events: all;

        image {
            width: 72px;
            height: 72px;
        }

        .container {
            background-color: #46225550;
            font-family: Londrina Solid;
            color: white;
            flex-direction: column;
            border-radius: 4px;
            backdrop-filter-blur: 20px;
        }

        .header {
            background-image: linear-gradient(90deg, #462255, #a94364);
            height: 150px;
            width: 100%;
            align-items: center;
            padding: 0px 5%;
            justify-content: space-between;
            font-family: Londrina Solid;
            color: white;
            flex-shrink: 0;

            .buttons {
                font-size: 48px;
                font-weight: 200;
                gap: 60px;
            }
        }

        &.hide {
            bottom: 100%;
        }

        .right-aligned {
            position: absolute;
            height: 810px;
            margin-top: auto;
            margin-bottom: auto;
            right: 64px;
            width: 28%;
            flex-direction: column;
            top: 215px;
            gap: 64px;
        }

        .terrain-preview {
            width: 100%;
            height: 256px;
            flex-grow: 1;
            border: 8px #a94364;
            border-radius: 8px;
        }

        textchat {
            width: 100%;
            margin-top: auto;
        }
    }

    TerrainPreview {
        flex-grow: 1;
    }

</style>